# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Text and config files - 2-space indentation
[*.{md,sh,json,bashrc,bash_profile,zshrc}]
indent_style = space
indent_size = 2

# Markdown specific settings
[*.md]
max_line_length = off

# Dockerfiles - 2-space indentation
[Dockerfile*]
indent_style = space
indent_size = 2

# Makefiles - MUST use hard tabs
[Makefile]
indent_style = tab
indent_size = 4
